<h1>Testing App Homepage</h1>
<p>Add UTM parameters and check the console.</p>
<p>Check the console to see what parameters are sent to the server</p>
<p>Note: the utm_source, utm_campaign, and utm_medium are required parameters.</p>
<br />
<a href="http://localhost:3000/?utm_source=source&utm_campaign=campaign&utm_medium=medium">Try a link with UTM parameters</a>

<script>
$(document).ready(function() {
  var params = {};

  // Grab the utm parameters from the url
  window.location.search
    .replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {
      params[key] = value;
    }
  );

  // Only register the page view if the required utm params are present
  if (params["utm_source"] && params["utm_campaign"] && params["utm_medium"]) {
    // Set the time the page was viewed at to now in UTC
    params["viewed_at"] = new Date().toISOString();

    params["full_url"] = window.location.href;
    params["url"]      = window.location.origin + window.location.pathname;
    params["referrer"] = document.referrer;

    // Get IP Address and associated information
    <%# $.getJSON('//freegeoip.net/json/?callback=?', function(json_data) { %>
    <%#   params["ip_address_data"] = JSON.stringify(json_data, null, null); %>
    <%# }); %>

    <%# console.log(params.ip_address_data); %>

    // Send data to the tracker
    <%# $.post( %>
    <%#   "http://localhost:3000/page_views", params %>
    <%# ).done(function() { %>
    <%#   console.log("Successfully submitted the page view to the tracker."); %>
    <%# }).fail(function() { %>
    <%#   console.log("An error occured sending the page view to the tracker."); %>
    <%# }); %>

    $(".params-title").html("Parameters to register");
    $(".params").html(JSON.stringify(params));

  } else {
    console.log("No UTM paramters set.");
  }
});
</script>
