<h1>Testing App Homepage</h1>
<p>Add UTM parameters and check the console.</p>
<p>Check the console to see what parameters are sent to the server</p>
<p>Note: the utm_source, utm_campaign, and utm_medium are required parameters.</p>
<br />
<a href="/?utm_source=source&utm_campaign=campaign&utm_medium=medium">Try a link with UTM parameters</a>
